table.people {
	border : 2px solid black;
}
table.people th{
	border : 1px solid black;
	background-color:gray;
	color:white;
}

table.people td{
	border : 1px solid black;
}

table.people tr.even{
	background-color:#CBF398;
}

table.people tr.odd{
	background-color:#9CF5EE;
}

.error {
	border-color:red;
}

/*Utilisé pour masquer le bouton close dans le dialogue jquery*/
.no-close .ui-dialog-titlebar-close {
  display: none;
}